/* 상단 div (Alter 영역) */
.Enter-top {
    text-align: center;
    border-bottom: 2px solid #ced3d6;
    height: 8vh;
    line-height: 8vh;
    font-size:1.5em;
}

.Enter-cancel {
    float: right;
    margin-right: 24px;
}

.Enter-cancel a, .Enter-cancel a:hover {
    text-decoration: none;
    color: #878d91;
}

/* 왼쪽 div (information 영역) */
.Enter-left {
    background-color: #e1e4e6;
    padding: 12px;
    height: 92vh;
}

.Enter-left div {
    background-color: #ffffff;
    border: 1px solid #e1e4e6;
    border-radius: 3px;
    margin-bottom: 12px;
    padding: 12px;
}

/* 오른쪽 div (키패드 영역) */
.Enter-right {
    text-align: center;
    height: 92vh;
}

/* 992px 이하일때 왼쪽 div (information 영역) 처리 */
@media (max-width: 992px) {
    .col-xs-12 {
        overflow:hidden;
        height:auto;
        padding-bottom: 12px;
    }
}