.Home-image {
    height: 92vh;
    margin-top: -2vh;
    overflow: hidden;
}

.Home-image img {
    width: 100%;
    height: 100%;
}

.Home-navbar {
    border-top: 2px solid #ced3d6;
    height: 10vh;
    margin-top: -2px;
}

.Home-navbar * {
    height: 10vh;
}

.Home-logo-wrapper {
    text-align: center;
}

.Home-marquee {
    font-size: 1.2em;
    line-height: 10vh;
    font-weight: bold;
}

.Home-button-wrapper {
   padding: 0;
}

.Home-button {
    padding: 0;
    width: 100%;
    font-size: 1.2em;
    border: none;
    background-color: #4c80f1;
    color: #ffffff;
}

.Home-button:hover {
    background-color: #2c5ae9;
}

/* For carousel */
.carousel {
    height: 92vh;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    height: 92vh;
}