.Result-background {
    background-color: #e1e4e6
}

/* 상단 DIV와 하단 DIV 공통 CSS */
.Result-top, .Result-bottom {
    text-align: center;
    background-color: #ffffff;
    width: 100%;
    margin-top:2vh;
    margin-right: 0;
    margin-left: 0;
}

/* 상단 DIV */
.Result-top {
    height: 64vh;
    display: table;
}

.Result-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.Result-save:after {
    content: "";
    display: block;
    width: 200px;
    border-bottom: 1px solid #878d91;
    margin: 1em auto;
}

/* 하단 DIV */
.Result-bottom {
    margin-bottom:2vh;
}

.Result-bottom .col-md-4 {
    padding: 0;
}

.Result-bottom .col-md-8 {
    text-align: left;
    font-size: 1.5em;
    padding: 15px;
    height: 30vh;
}

.Result-bottom img{
    height: 30vh;
    width: 100%;
}

.Result-button {
    text-align: center;
    position: absolute;
    bottom: 15px;
    width: 100%;
}

button {
    width: 95%;
    background-color: #e1e4e6;
    border: 2px solid #ced3d6;
    padding: 0.5em;
}